<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">MovieAPP</h1>
      <p class="lead">Esta es una aplicación de películas</p>
    </div>
  </div>

  <!--Contenedor de peliculas en cartelera-->
  <div class="container">
    <br>
  
    <h1>Cartelera</h1>
    <hr>
  
    <div class="row" name="Cartelera">
  
      <div class="col-sm-6">
  
        <div class="row">
          <div class="col-md-12 div-pic-1"
              [ngStyle]="{ 'background-image': 'url( https://image.tmdb.org/t/p/w300/22z44LPkMyf5nyyXvv8qQLsbom.jpg )' }">
          </div>
        </div>
  
        <div class="row">
          <div class="col div-pic-2"
                [ngStyle]="{ 'background-color': 'blue' }">>
          </div>
          <div class="col div-pic-2"
                [ngStyle]="{ 'background-color': 'pink' }">>
          </div>
        </div>
  
      </div>
  
      <div class="col-sm-6">
  
  
        <div class="row">
          <div class="col div-pic-2"
                [ngStyle]="{ 'background-color': 'orange' }">>
          </div>
          <div class="col div-pic-2"
                [ngStyle]="{ 'background-color': 'yellow' }">>
          </div>
        </div>
  
        <div class="row">
          <div class="col div-pic-1"
          [ngStyle]="{ 'background-image': 'url( https://image.tmdb.org/t/p/w300/22z44LPkMyf5nyyXvv8qQLsbom.jpg )'  }">
        </div>
      </div>
  
      </div>
  
    </div>
  </div>

    <!--Contenedor de peliculas populares-->
  <div class="container">
    <br>
    <h1>Populares</h1>
    <hr>
  
    <div class="row" name="Populares">
  
      <div class="col-sm-6">
  
        <div class="row">
          <div class="col-md-12 div-pic-1"
              [ngStyle]="{ 'background-color': 'green' }">
          </div>
        </div>
  
        <div class="row">
          <div class="col div-pic-2"
                [ngStyle]="{ 'background-color': 'blue' }">>
          </div>
          <div class="col div-pic-2"
                [ngStyle]="{ 'background-color': 'pink' }">>
          </div>
        </div>
  
      </div>
  
      <div class="col-sm-6">
  
  
        <div class="row">
          <div class="col div-pic-2"
                [ngStyle]="{ 'background-color': 'orange' }">>
          </div>
          <div class="col div-pic-2"
                [ngStyle]="{ 'background-color': 'yellow' }">>
          </div>
        </div>
  
        <div class="row">
          <div class="col div-pic-1"
          [ngStyle]="{ 'background-image': 'url( https://image.tmdb.org/t/p/w300/22z44LPkMyf5nyyXvv8qQLsbom.jpg )'  }">
        </div>
      </div>
  
      </div>
  
    </div>
  </div>

  <!--Contenedor de peliculas popuñlares entre los niños-->
  <div class="container">
    <br>
    <h1>Populares entre los más pequeños</h1>
    <hr>
  
    <div class="row" name="Pequeños">
  
      <div class="col-sm-6">
  
        <div class="row">
          <div class="col-md-12 div-pic-1"
              [ngStyle]="{ 'background-color': 'green' }">
          </div>
        </div>
  
        <div class="row">
          <div class="col div-pic-2"
                [ngStyle]="{ 'background-color': 'blue' }">>
          </div>
          <div class="col div-pic-2"
                [ngStyle]="{ 'background-color': 'pink' }">>
          </div>
        </div>
  
      </div>
  
      <div class="col-sm-6">
  
  
        <div class="row">
          <div class="col div-pic-2"
                [ngStyle]="{ 'background-color': 'orange' }">>
          </div>
          <div class="col div-pic-2"
                [ngStyle]="{ 'background-color': 'yellow' }">>
          </div>
        </div>
  
        <div class="row">
          <div class="col div-pic-1"
          [ngStyle]="{ 'background-image': 'url( https://image.tmdb.org/t/p/w300/22z44LPkMyf5nyyXvv8qQLsbom.jpg )'  }">
        </div>
      </div>
  
      </div>
  
    </div>
  
  </div>

  