<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">MovieAPP</h1>
      <p class="lead">Esta es una aplicación de películas</p>
    </div>
  </div> 
  <div class="container" *ngIf="cartelera">
    <br>
  
    <h1>Cartelera</h1>
    <hr>
    <app-galeria [peliculas]="cartelera"></app-galeria>
  </div>

  <div class="container" *ngIf="populares">
    <br>
  
    <h1>Populares</h1>
    <hr>
    <app-galeria [peliculas]="populares"></app-galeria>
  </div>

  <div class="container" *ngIf="popularesChild">
    <br>
  
    <h1>Ciencia ficción</h1>
    <hr>
    <app-galeria [peliculas]="popularesChild"></app-galeria>
  </div>
  